.card {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 230px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid white;
    border-radius: .25rem;
}

.listgroup {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.blueheading {
    background-color: #329cab;
}
.blueprice {
    background-color: #40c1d5;
}

.greenheading {
    background-color: #288670;
}
.greenprice {
    background-color: #36ae8d;
}

.redheading {
    background-color: #c4554e;
}
.redprice {
    background-color: #f46a5f;
}

.blackheading {
    background-color: black;
}
.blackprice {
    background-color: #333a44;
}

.listheading, .listprice, .listspeed, .listinformation {
    position: relative;
    display: block;
    margin: 0;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
}

.listheading, .listprice {
    border-bottom: 1px solid white;
    color: white;
}

.listprice {
    font-size: 2em;
}

.listspeed {
    background-color: #fafafa;
}

.listinformation {
    background-color: #eeeeee;
    border-top: 1px solid white;
}

.selected {
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 5px #000;
}

