.heading {
    background-color: #329cab;
    color: white;
}

.price {
    background-color: #40c1d5;
    color: white;
}

.speed {
    background-color: #eeeeee;
}

.information {
    background-color: #fafafa;
}